@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  /* Creating animations for dark mode */
  transition:
    background-color 0.3s,
    border 0.3s;
}

:root {
  --cm-50: #fcf9f1;
  --cm-100: #f3e6c7;
  --cm-150: #eedcb3;
  --cm-200: #ead39d;
  --cm-300: #e1c073; /* base */
  --cm-350: #dab767;
  --cm-400: #d8ad49;
  --cm-500: #c4962a;
  --cm-600: #9a7621;
  --cm-700: #705618;
  --cm-800: #46350f;
  --cm-850: #352708;
  --cm-870: #1b1302;
  --cm-900: #140f01;
  --cm-950: #0f0d04;

  /* Header */
  --header-icon: var(--cm-500);
  --ham-menu: var(--cm-500);

  &,
  &.light-mode {
    color: var(--cm-950);
    --body-bg: var(--cm-100);

    /* Header */
    --header-bg: var(--cm-100);
    --header-toggle: var(--cm-300);
    --mob-nav-bg: var(--cm-200);

    /* Home Page */
    --text-main: var(--cm-900);
    --btn-bg: var(--cm-900);
    --btn-text: var(--cm-100);
    --player-accent: var(--cm-800);

    /* About Page */
    --card-bg: var(--cm-150);
    --icons-fill: var(--cm-950);
    --portrait-bg: var(--cm-200);

    /* Portfolio Page */
    --project-bg: var(--cm-200);
    --project-link: var(--cm-350);
  }

  &.dark-mode {
    color: var(--cm-200);
    --body-bg: var(--cm-950);

    /* Header */
    --header-bg: var(--cm-950);
    --header-toggle: var(--cm-800);
    --mob-nav-bg: var(--cm-900);

    /* Home Page */
    --text-main: var(--cm-50);
    --btn-bg: var(--cm-200);
    --btn-text: var(--cm-900);
    --player-accent: var(--cm-500);

    /* About Page */
    --card-bg: var(--cm-900);
    --icons-fill: var(--cm-200);
    --portrait-bg: var(--cm-870);

    /* Portfolio Page */
    --project-bg: var(--cm-870);
    --project-link: var(--cm-850);
  }
}

body {
  background-color: var(--body-bg);
}

input[type="range"] {
  accent-color: var(--player-accent);
}
