@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  /* Creating animations for dark mode */
  transition:
    background-color 0.3s,
    border 0.3s;
}

:root {
  --cm-50: #fffff7;
  --cm-100: #fefed6;
  --cm-200: #fefe92;
  --cm-300: #fdfd60; /* base */
  --cm-400: #fcfc1d;
  --cm-500: #e3e303;
  --cm-600: #b1b102;
  --cm-700: #7e7e02;
  --cm-800: #4c4c01;
  --cm-850: #3b3b01;
  --cm-900: #161600;
  --cm-950: #090900;
}
