@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  /* Creating animations for dark mode */
  transition:
    background-color 0.3s,
    border 0.3s;
}

:root {
  --cm-50: #fcf9f1;
  --cm-100: #f3e6c7;
  --cm-200: #ead39d;
  --cm-300: #e1c073; /* base */
  --cm-400: #d8ad49;
  --cm-500: #c4962a;
  --cm-600: #9a7621;
  --cm-700: #705618;
  --cm-800: #46350f;
  --cm-850: #352708;
  --cm-900: #130e00;
  --cm-950: #0f0d04;

  /* Header */
  --header-icon: var(--cm-500);
  --ham-menu: var(--cm-500);

  &,
  &.light-mode {
    --body-bg: var(--cm-100);

    /* Header */
    --header-bg: var(--cm-100);
    --header-toggle: var(--cm-300);
    --mob-nav-bg: var(--cm-200);
    --nav-text: var(--cm-950);
  }

  &.dark-mode {
    --body-bg: var(--cm-950);

    /* Header */
    --header-bg: var(--cm-950);
    --header-toggle: var(--cm-800);
    --mob-nav-bg: var(--cm-900);
    --nav-text: var(--cm-200);
  }
}

body {
  background-color: var(--body-bg);
}
